[submodule "lib/deps/openssl"]
	path = lib/deps/openssl
	url = git@github.com:ruleless/openssl.git
[submodule "lib/deps/sigar"]
	path = lib/deps/sigar
	url = git@github.com:ruleless/sigar.git
[submodule "UnitTest/cppunit"]
	path = UnitTest/cppunit
	url = git@github.com:ruleless/cppunit.git
